<div class="box-body">
  <%= form_for(@social_body) do |f| %>
    <% if @social_body.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@social_body.errors.count, "error") %> prohibited this social_body from being saved:</h2>

        <ul>
        <% @social_body.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name %><br>
      <%= f.text_field :name, class: "form-control"  %>
    </div>

    <div class="form-group">
      <%= f.label :role %><br>
      <%= f.select :role, options_for_select(get_positions_options()), {}, class: "form-control"  %>
    </div>

    <div class="form-group">
      <%= f.label :position %><br>
      <%= f.text_field :position, class: "form-control"  %>
    </div>

    <div class="box-footer">
      <%= f.submit   class: "btn btn-primary"%>
    </div>
  <% end %>
