<%= render partial: 'general_partials/title', locals: { section_title:  "Registar", fa_icon: "fa-user" } %>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render partial: 'general_partials/layout/errors', locals: {devise_error_messages: devise_error_messages! } %>
  <!-- Password não pode estar em branco
Conservatória não pode estar em branco
Morada de Conservatória não pode estar em branco
Código Postal da Conservatória não pode estar em branco
Classe do lugar não pode estar em branco
Classe Pessoal não pode estar em branco
Escalão de Exercicio não pode estar em branco -->
<!-- <div class="credentials_page"> -->
  <div class="general_informations">
    <h2> Dados para pagamento	</h2>
    <h4>Conta: </h4> <p>Nº 0697/566138/430</p>
    <h4>NIB: </h4> <p>00350 6970 0566 1384 3052 (Da CGD - Rua do Ouro - Lisboa)</p>



    <h2>Valor mensal das quotas sociais</h2>


    <% Fee.all.each do |fee| %>
      <h4> <%= fee.name %>:</h4> <%= fee.value %>€
    <% end %>
    <p>Obs: O valor da quota é correspondente à classe do lugar<p><br>

  </div>

  <div class="personal_informations">

    <h2> Informações Pessoais </h2>


    <div class="field info_block">
      <%= f.label :email %>*<br />
      <%= f.email_field :email, autofocus: true, required: true, class: "text_input"   %>
    </div>
    <div class="field info_block">
      <%= f.label :name %>*<br>
      <%= f.text_field :name, required: true, class: "text_input"    %>
    </div>

    <div class="field info_block">
      <%= f.label :membership_number %><br>
      <%= f.number_field :membership_number, class: "text_input"   %>
    </div>

    <div class="field info_block relative" >
      <%= f.label :birthday %><br>
      <%= f.text_field :birthday, id: 'birthday', class: "text_input"  , data: { date_format: 'DD/MM/YYYY'} %>
    </div>

    <div class="field info_block">
      <%= f.label :naturality%>*<br>
      <%= f.text_field :naturality, required: true, class: "text_input"    %>
    </div>

    <div class="field info_block">
      <%= f.label :residence %>*<br>
      <%= f.text_area :residence, required: true, class: "text_area_input"    %>
    </div>

    <div class="field info_block">
      <%= f.label :zip_code%><br>
      <%= f.text_field :zip_code, class: "text_input"  %>
    </div>

    <div class="field info_block">
      <%= f.label :phone %><br>
      <%= f.text_field :phone, class: "text_input"   %>
    </div>
  </div>

  <div class="registry_informations">

    <h2> Informações de Conservatória </h2>


    <div class="field info_block">
      <%= f.label :office %>*<br>
      <%= f.text_field :office, required: true, class: "text_input"   %>
    </div>

    <div class="field info_block">
      <%= f.label :office_email %><br>
      <%= f.email_field :office_email, class: "text_input"   %>
    </div>

    <div class="field info_block">
      <%= f.label :office_address %>*<br>
      <%= f.text_field :office_address, required: true, class: "text_input"   %>
    </div>

    <div class="field info_block">
      <%= f.label :office_zipcode %>*<br>
      <%= f.text_field :office_zipcode, required: true, class: "text_input"   %>
    </div>

    <div class="field info_block">
      <%= f.label :attached_registry %>*<br>
      <%= f.check_box :attached_registry %>
    </div>

    <div class="field info_block">
      <%= f.label :office_phone %>*<br>
      <%= f.text_field :office_phone, required: true, class: "text_input"   %>
    </div>

    <div class="field info_block">
      <%= f.label :office_fax %><br>
      <%= f.text_field :office_fax, class: "text_input"   %>
    </div>

    <div class="field info_block">
      <%= f.label :location_class %>*<br>
      <%= f.text_field :location_class, required: true, class: "text_input"   %>
    </div>
  </div>

  <div class="carreer_informations">

    <h2> Informações de Carreira </h2>

    <div class="field info_block relative">
      <%= f.label :career_start_date %><br>
      <%= f.text_field :career_start_date, id: "career-start-date", class: "text_input"  , data: { date_format: 'DD/MM/YYYY'} %>
    </div>

    <div class="field info_block">
      <%= f.label :personal_class %>*<br>
      <%= f.text_field :personal_class, required: true, class: "text_input"   %>
    </div>

    <div class="field info_block relative">
      <%= f.label :class_promotion_date %><br>
      <%= f.text_field :class_promotion_date, id: "class-promotion-date", class: "text_input"  , data: { date_format: 'DD/MM/YYYY'} %>
    </div>

    <div class="field info_block">
      <%= f.label :practice_level %>*<br>
      <%= f.text_field :practice_level, required: true, class: "text_input"   %>
    </div>

    <div class="field info_block relative">
      <%= f.label :level_start_date %><br>
      <%= f.text_field :level_start_date, id: "level-start-date", class: "text_input"  , data: { date_format: 'DD/MM/YYYY'} %>
    </div>
  </div>

  <div class="passwords">
    <h2> Passwords</h2>
    <div class="field info_block">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(mínimo <%= @minimum_password_length %> caracteres)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off", class: "text_input"   %>
    </div>

    <div class="field info_block">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: "text_input"   %>
    </div>
  </div>

  <div class="actions center">
    <%= f.submit "Registar", class: "secundary_button medium_button" %>
  </div>
  <div class="center">
    <%= render "members/shared/links" %>
  </div>
<% end %>
<!-- </div> -->
<script>
$(document).on("ready page:load", function () {

  var settings_datetimepicker = {
    // format: "dd/mm/yyyy",
    locale: 'pt',
    tooltips: {
        today: 'Go to today',
        clear: 'Clear selection',
        close: 'Close the picker',
        selectMonth: 'Select Month',
        selectYear: 'Select Year',
    },
    showTodayButton: true,
    showClear: true,
    showClose: true,
    debug: false
  }


  $('#birthday').datetimepicker(settings_datetimepicker);
  $('#career-start-date').datetimepicker(settings_datetimepicker);
  $('#class-promotion-date').datetimepicker(settings_datetimepicker);
  $('#level-start-date').datetimepicker(settings_datetimepicker);

  // $('#birthday').pickadate(settings_pickadate);
  // $('#career-start-date').pickadate(settings_pickadate);
  // $('#class-promotion-date').pickadate(settings_pickadate);
  // $('#level-start-date').pickadate(settings_pickadate);
});
</script>
