<div class="box-body">
  <%= form_for(@about) do |f| %>
    <% if @about.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@about.errors.count, "error") %> impediram este trabalho de ser guardado: </h2>

        <ul>
        <% @about.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>


  <div class="form-group">
    <%= f.label :objectives %><br>
    <%= f.text_area :objectives, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :message %><br>
    <%= f.text_area :message, class: "form-control"  %>
  </div>
  <div class="box-footer">
    <%= f.submit  class: "btn btn-primary" %>
  </div>
<% end %>
